<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="ShortCode Test Suite">
            <directory>tests/ShortCode/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory suffix=".php">vendor/</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">src/ShortCode/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
